# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# archives google
client_secret_841338630225-47r5lpj0bn97buv276ruv887s89hd1o6.apps.googleusercontent.com.json
client_secret_841338630225-2be15ciq0bflur50niuvc27go5a6huqp.apps.googleusercontent.com.json
